body{
  background-color: #C1BBB9;
  padding: 10px;
}
.h1-index {
    background-image:url(bg-for-final-project4502.jpg);
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    text-shadow: 2px 5px 10px #000000;
    font-size: 3rem;
    padding: 1rem;
    box-sizing: border-box;
    margin:0;
}
.content {
  background-color: #FAC322;
  height: 60px;
  border: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
}
.databox{
  height: 160px;
  display: flex;
  justify-content: space-around;
  padding:0;
  margin-bottom: 0;
  }
.data{
  background-color: #CE390D;
  list-style-type: none;
  height: 140px;
  width: 160px;
  justify-content: center;
  text-align: center;
  background-image: url(arrow-down.png);
  background-size: 100px;
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  text-shadow: 1px 0.5px black;
  padding: 5px;
  border: 3px dotted white;
  padding-right: 0;
}
#data-up{
  background-color: #CE390D;
  list-style-type: none;
  height: 140px;
  width: 160px;
  justify-content: center;
  text-align: center;
  background-image: url(arrow-up.png);
  background-size: 100px;
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  text-shadow: 1px 0.5px black;
  padding: 5px;
  border: 3px dotted white;
  padding-right: 0;
}

#see-stories{
      text-align: center;
      padding:0;
      margin:0;
}
#menu_nav{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: #FAC322;
  height: 30px;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
}
.navigation-{
  align-items: center;
}
#key_numbers{
  padding-left: 0;
  margin-left: 40px;
  background-color: #CE390D;
  width:200px;
  align-items: center;
  text-align: center;
}
.text{
  list-style-type: none;
  font-size: 1.5em;
  width: 500px;
  text-align: justify;
  padding-left: 50;
}
.img1{
  padding-left: 100px;
  padding-top: 20px;
}
a{
  color: #CE390D;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}
a:hover{
  color:black;
}
.explanation{
  display: flex;
}
footer{
  justify-content: center;
  border: 3px solid grey;
}
#page-design{
  text-align: center;
  color: grey;
  margin:0;
}
#email{
  text-align: center;
  margin:0;
}

.rate{
  font-size: 1.25em;
  font-weight: bold;
}
@media (max-width: 760px) {

.h1-index {
  font-size:2.25rem;
}

@media (max-width: 690px) {

.h1-index {
  font-size:2rem;
}

}

@media (max-width: 625px) {

.h1-index {
  font-size:1.75rem;
}

}

@media (max-width: 550px) {

.h1-index {
  font-size:1.5rem;
}

}
