#menu_nav{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: #FAC322;
  height: 30px;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
}
.navigation-{
  align-items: center;
}
a{
  color: #CE390D;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}
a:hover{
  color:black;
}
footer{
  justify-content: center;
  border: 3px solid grey;
}
#page-design{
  text-align: center;
  color: grey;
  margin:0;
}
#email{
  text-align: center;
  margin:0;
}
.title1{
  justify-content: center;
  text-align: center;
}
.info{
  display:flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.profile{
  list-style-type: none;
  font-size: 1.5em;
  max-width: 200px;
  padding-left: 0;
}
.info2{
  list-style-type: none;
  font-size: 1.5em;
  padding-left: 5px;
}
.info-img{
  border: 3px dotted #FAC322;
}
